body {
  font-family: Arial, sans-serif;
  background-color: #423e3e;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #f1ebeb;
}

h2 {
  color: #f1ebeb;
}

form {
  width: 400px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 19px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form select {
  width: 250px;
  padding: 8px;
  margin: 8px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
